
body,
html {
  width: 100%;
  height: 100%; 
}

body {
	font-family: 'Montserrat', sans-serif;
}

hr { /*this is the line in middle of screen*/
	max-width: 65px;
	border-width: 3px;
	border-color: #F05F44;
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
	background-position: center;
	background-image: url("header.jpg");
	background-size: cover;
	height: 100%;
}

header.startup hr { /*it's like a space between div's*/
	margin-top: 200px; /* text and then this adds a space below it*/
  	margin-bottom: 30px; /* this adds a btm space then the button*/
}

header.startup h1 {
	color: white;
	font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
	background-color: #F05F44;
	border: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}